/* Global */
:root {
  --base: #ff6e5e;
  --white: #fff;
  --black: #000;
  --yellow: #fff500;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px 0.5px rgba(0, 0, 0, 0.39);
}

::-webkit-scrollbar-thumb {
  background-color: var(--base);
  border-radius: 3px;
}
/* Header */
header {
  width: 100vw;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--base);
  font-weight: 700;
  box-shadow: 0 0 6px var(--black);
  position: fixed;
  z-index: 2;
  color: var(--white);
  transition: background-color 0.5s, color 0.2s, border 0.5s;
}

header i {
  margin-left: 5px;
}

.logo-content {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.cart {
  display: flex;
  align-items: center;
  border: 3px solid var(--white);
  border-radius: 14px;
  padding: 5px 2px;
  user-select: none;
  cursor: pointer;
  transition: border-color 0.4s;
}

.cart:hover {
  border-color: var(--base);
}

header.scroll-color {
  background-color: var(--white);
  color: var(--black);
}

header.scroll-color > .cart {
  border: 3px solid var(--black);
}

header.scroll-color > .cart:hover {
  border-color: var(--white);
}
/* Main */
main {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: rgb(243, 243, 243);
}
/* Section slideshows-container */
.slideshows-container {
  user-select: none;
  padding: 0px 20px;
  z-index: 1;
  height: 110vh;
  width: 100vw;
  background: linear-gradient(180deg, var(--base) 90%, rgb(243, 243, 243) 100%);
}

.slide-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide-imgs {
  animation: fade 2.5s;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 450px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: transparent;
  border: transparent;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
}
.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  transform: scale(1.5);
}

.dot-container {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: transparent;
  border: 2px var(--white) solid;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot.active {
  background-color: var(--white);
}
.dot:hover {
  background-color: var(--white);
}
